/* You can add global styles to this file, and also import other style files */
@import url("./style.css");

.register-half-bg {
  background: url("../assets/images/auth/register-bg.jpg");
}
.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  overflow-y: auto;
}
